@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Cinzel&display=swap');

body {
    margin: auto;
}

/* Navigation bar */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #121318;
    color: white;
    height: 100px;
    align-items: center;
    font-family: 'Baloo Da 2', cursive;
    border-bottom: 3px solid white;
    /* position: fixed; */
}
.hp-icon {
    width: 105px;
}
.icondiv {
    margin-left: 5%;
}

.right-nav {
    display: flex;
    margin-right: 50px;
    width: 30%;
    justify-content: space-around;
}
.whitelinks:link{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.whitelinks:visited{
    text-decoration: none;
    color: white;
}
.whitelinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.whitelinks:active {
    color: red;
}
.blacklinks:link{
    text-decoration: none;
    color: black;
}
.blacklinks:visited{
    text-decoration: none;
    color: black;
}
.blacklinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: black;
}
.blacklinks:active {
    color: red;
}

/* hide the bottom navigation at all other sizes except below 600px */
.right-burger{
    display: none;
}

/* Preview About Me */

.hp-flex {
    background-color: #111422;
    color: white;
    height: 650px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.profile-pic {
    width: 30%;
    border-radius: 100%;
    border: 3px solid white;
    opacity: 0;
    transition: all 2s ease-in-out;
    transform: translate(0px, 300px);
}
.profile-pic-effect {
    opacity:1;
    transform: translate(0px, 0px);
}
.short-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Baloo Da 2', cursive;
    font-size: 2em;
    opacity: 0;
    transition: transform 2.5s ease-in-out;
    transform: translate(0px, 300px);
}
.short-blurb-effect {
    opacity:1;
    transform: translate(0px, 0px);
}
.welcome, .aspiring, .hungry, .striving {
    margin: 0;
    width: 100%;
}
.welcome {
    font-size: 75px;
}

/* Preview Projects */
.hp-grid2 {
    display: grid;
    width: 100vw;
    grid-template-areas: "library library-description"
    "rps rps-description";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1.75fr 1fr;
}
.hp-library {
    grid-area: library;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hp-library-description {
    grid-area: library-description;
}
.hp-rps {
    grid-area: rps;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%;
}
.hp-rps-description {
    grid-area: rps-description;
}

video {
    width: 60%;
    box-shadow: 17px 14px 10px grey;
   display: block;
   border: 1px solid black;
}

video:hover {
    transform: scale(1.2)
}

.text-glow {
    color: white;
    text-shadow: 0px 0px 15px black;
}

.button-glow {
    box-shadow: 0px 0px 20px black;
}
.hp-library-description, .hp-rps-description {
    display: flex;
    align-items: center;
    font-family: 'Baloo Da 2', cursive;
    font-size: 30px;
    line-height:1;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

h2 {
    margin: 0;
}

.featured {
    font-size: 72px;
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
    margin-bottom: 0;
}
/* View More Projects Button */
.view-more {
    padding: 15px;
    width: 80%;
    font-family: 'Baloo Da 2', cursive;
    font-size: 0.75em;
    color: black;
}

/* Footer */
.bottom {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111422;
}

/* Code below is w3Schools */
.fa-linkedin-square {
    color: white;
    font-size: 80px;
    width: 56px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 69px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    font-size: 86px;
    color: white;
}

.copyright {
    font-family: 'Baloo Da 2', cursive;
    text-align:center;
}

@media screen and (min-width: 940px) and (max-width:1200px) {
    .right-nav {
        width: 40%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    .icondiv {
        margin-left: 4%;
    }
    .hp-flex {
        padding-left:20px;
        padding-right:20px
    }
    .hp-library-description, .hp-rps-description {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 800px) and (max-width:939px) {
    .right-nav {
        width: 40%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    .whitelinks:link {
        font-size: 20px;
    }
    .icondiv {
        margin-left: 4%;
    }
    .hp-flex {
        padding-left:20px;
        padding-right:20px
    }
    .short-blurb, .hp-library-description, .hp-rps-description  {
        font-size: 1.5em;
    } 
    .featured {
        width: 100%;
        font-size: 65px;
    }
    .bottom {
        padding: 15px;
    }
    .fa-linkedin-square {
        font-size: 60px;
    }
    .fa-github {
        font-size: 70px;
    }
}

@media screen and (min-width: 600px) and (max-width:799px) {
    .right-nav {
        width: 50%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    .whitelinks:link {
        font-size: 20px;
    }
    .icondiv {
        margin-left: 4%;
    }
    .hp-flex {
        padding-left:20px;
        padding-right:20px
    }
    .short-blurb {
        font-size: 1.5em;
    }
    .welcome {
        font-size:50px;
    }
    .featured {
        width: 100%;
        font-size: 67px;
    }
    .hp-library-description, .hp-rps-description {
        font-size: 1.25em;  
    }
    .view-more {
        padding: 5px;
    }
    .bottom {
        padding: 15px;
    }
    .fa-linkedin-square {
        font-size: 60px;
    }
    .fa-github {
        font-size: 70px;
    }
}


@media screen and (max-width:599px) {

    .burger::before {
        content:'\2630';
        font-size: 50px;
        color: white;
        float: right;
    }
    .xcross::before {
        content:'\2715';
        font-size: 50px;
        color: white;
        float: right;
    }
    .right-nav {
        margin-right: 0;
    }
    /* To hide the original top navigation at width less than 599px */
    .hidden{
        display: none;
    }
    /* The bottom navigation will be remain hidden until .show class is 
    added to .right-burger through jQuery */
    .right-burger {
        display:none;
    }
    .show {
        display: block;
        width: 100%;
        text-align: center;
        font-family: 'Baloo Da 2', cursive;
        font-size: 1.25em;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.708);
    }
    .bottom-nav-about, .bottom-nav-project {
         padding-bottom: 15px;
    }
    .icondiv {
        margin-left: 10%;
    }
    .short-blurb, .hp-library-description, .hp-rps-description {
        font-size: 1.5em;
        text-align: center;
        padding-left: 0px;
        margin: 0 auto;
    }
    .welcome {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 40px;
        justify-content: center;
    }
    .aspiring, .hungry {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .hp-flex {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* height: 600px; */
    }
    .hp-grid2 {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         padding-top:0px;
     }
     .hp-library-description, .hp-rps-description {
         width: 80%;
         justify-content: center; 
        text-align: center;
     }
     
     .hp-library, .hp-rps-description {
         margin-bottom: 20px;
     }
     video:hover {
        transform: scale(1.1)
    }
     .view-more {
         padding: 10px;
         width: 60%;
         font-size: 20px;
     }

     .bottom {
         padding: 10px;
         margin-top:50px;
     }
     .fa-linkedin-square {
         font-size: 55px;
         width: 55px;
         border-radius: 20px;
     }
     .fa-github {
         font-size: 60px;
     }
     .featured {
         font-size: 40px;
         margin-bottom: 20px;
     }

    
}

@media only screen and (max-width:400px) {
    .view-more{
        font-size: 16px;
        padding: 5px;
    }
}