@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Cinzel&display=swap');

body {
    margin: 0;
    font-family: 'Baloo Da 2', cursive;
}
/* header {
    height: 150px;
    background-color: black;
} */
/* .about {
    position: absolute;
    width: 60%;
    margin-left: auto;
    margin-top: auto;
    left: 50%;
    /* bottom: 300px; 
    /* bottom: -500px; 
    top: 30%; 
    transform: translate(-50%, -50%);
    background-color: rgb(205, 148, 148);
} */
.profile-pic > img {
    width: 25vw;
    height: 25vw;
    display: block;
    margin: auto;
    border-radius: 100%;
    border: 3px solid white;
}

#wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/skyline.jpg");
    background-size: cover;
    height: 1100px;
    /* height: 1000px; */
}
/* .filler  {
    background-color: black;;
    width: 200px;
    width: 15%;
    height: 300px;
} */
#about {
    width: 70%;
    /* height: 600px; */
    padding: 20px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.708);
    color: black;
}

/*.about {
    position: absolute;
    width: 60%;
    margin-left: auto;
    margin-top: auto;
    left: 50%;
    /* bottom: 300px; */
    /* bottom: -500px; */
    /* top: 30%; 
    transform: translate(-50%, -50%);
    background-color: rgb(205, 148, 148);
} */
  
/* #wrapper {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-top: auto;
    left: 50%;
    bottom: 300px; 
    bottom: -500px; 
    top: 30%; 
    bottom: -80%;
    transform: translate(-50%, -50%);
    background-color: rgb(205, 148, 148);
    background-color: white;
} */

/* .blank {
    height: 680px;
} */

p {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
h1 {
    width: 80%;
    text-align: center;
    font-size: 5em;
    margin: auto;
    margin-top: 30px;
}

/* Skills section */
/* .skills-outerdiv {
    margin-top: 150px;
} */

.skills {
    width: 70%;
    margin-bottom: 0;
    margin-top: 0;
}
.currentskills {
    margin-top: 10px;
}

.bottom-skills {
    margin-bottom: 20px;
}

/* Icons */
.social-icons {
    /* text-align: center; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
/* Code below is w3Schools */
.fa-linkedin-square {
    background: #007bb5;
    color: white;
    padding: 10px;
    font-size: 51px;
    width: 49px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
.fa-github {
    font-size: 60px;
    color: black;
    margin-right: 43px;
}
.fa-wordpress {
    color: #22759A;
    font-size: 60px;
    margin-right: 43px;
}
.fa:hover {
    opacity: 0.7;
}

.flex-icon {
    display: flex;
    justify-content: center;
 }
.icons {
     width: 10%;
     display: block;
     margin: 20px;
}


/* Navigation bar */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #121318;
    color: white;
    height: 100px;
    align-items: center;
    font-family: 'Cinzel', serif;
    border-bottom: 3px solid white;
}
.hp-icon {
    margin-left: 50px;
}
.right-nav {
    display: flex;
    margin-right: 50px;
    width: 30%;
    justify-content: space-around;
}

.whitelinks:link{
    text-decoration: none;
    color: white;
}
.whitelinks:visited{
    text-decoration: none;
    color: white;
}

.whitelinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}

.whitelinks:active {
    color: red;
}
