@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Cinzel&display=swap');

body {
    margin: 0;
    font-family: 'Baloo Da 2', cursive;
}
/* header {
    height: 150px;
    background-color: black;
} */
/* .about {
    position: absolute;
    width: 60%;
    margin-left: auto;
    margin-top: auto;
    left: 50%;
    /* bottom: 300px; 
    /* bottom: -500px; 
    top: 30%; 
    transform: translate(-50%, -50%);
    background-color: rgb(205, 148, 148);
} */
.profile-pic > img {
    width: 25vw;
    height: 25vw;
    display: block;
    margin: auto;
    border-radius: 100%;
    border: 3px solid white;
}

#wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/skyline.jpg");
    background-size: cover;
    height: 1100px;
    /* height: 1000px; */
}
/* .filler  {
    background-color: black;;
    width: 200px;
    width: 15%;
    height: 300px;
} */
#about {
    width: 70%;
    /* height: 600px; */
    padding: 20px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.708);
    color: black;
}

/*.about {
    position: absolute;
    width: 60%;
    margin-left: auto;
    margin-top: auto;
    left: 50%;
    /* bottom: 300px; */
    /* bottom: -500px; */
    /* top: 30%; 
    transform: translate(-50%, -50%);
    background-color: rgb(205, 148, 148);
} */
  
/* #wrapper {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-top: auto;
    left: 50%;
    bottom: 300px; 
    bottom: -500px; 
    top: 30%; 
    bottom: -80%;
    transform: translate(-50%, -50%);
    background-color: rgb(205, 148, 148);
    background-color: white;
} */

/* .blank {
    height: 680px;
} */

p {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
h1 {
    width: 80%;
    text-align: center;
    font-size: 5em;
    margin: auto;
    margin-top: 30px;
}

/* Skills section */
/* .skills-outerdiv {
    margin-top: 150px;
} */
.skills {
    width: 70%;
    margin-bottom: 0;
    margin-top: 0;
}
.currentskills {
    margin-top: 10px;
}

.bottom-skills {
    margin-bottom: 20px;
}

/* Icons */
.social-icons {
    /* text-align: center; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
/* Code below is w3Schools */
.fa-linkedin-square {
    background: #007bb5;
    color: white;
    padding: 10px;
    font-size: 51px;
    width: 49px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
.fa-github {
    font-size: 60px;
    color: black;
    margin-right: 43px;
}
.fa-wordpress {
    color: #22759A;
    font-size: 60px;
    margin-right: 43px;
}
.fa:hover {
    opacity: 0.7;
}

.flex-icon {
    display: flex;
    justify-content: center;
 }
.icons {
     width: 10%;
     display: block;
     margin: 20px;
}


/* Navigation bar */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #121318;
    color: white;
    height: 100px;
    align-items: center;
    font-family: 'Cinzel', serif;
    border-bottom: 3px solid white;
}
.hp-icon {
    margin-left: 50px;
}
.right-nav {
    display: flex;
    margin-right: 50px;
    width: 30%;
    justify-content: space-around;
}

.whitelinks:link{
    text-decoration: none;
    color: white;
}
.whitelinks:visited{
    text-decoration: none;
    color: white;
}

.whitelinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}

.whitelinks:active {
    color: red;
}

.blacklinks:link{
    text-decoration: none;
    color: black;
}
.blacklinks:visited{
    text-decoration: none;
    color: black;
}
.blacklinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: black;
}
.blacklinks:active {
    color: red;
}

@media screen and (min-width: 940px) and (max-width:1200px) {
    .right-nav {
        width: 40%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    h1 {
        width: 80%;
        font-size: 4em;
    }
    img {
        width: 25vw;
        height: 25vw;
    }

    p {
        width: 90%;
    }
    #wrapper {
        height: 1000px;
    }
}

@media screen and (min-width: 800px) and (max-width:939px) {
    .right-nav {
        width: 40%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    h1 {
        width: 80%;
        font-size: 4em;
    }
    img {
        width: 35vw;
        height: 35vw;
    }
    p {
        width: 100%;
    }
    /* #wrapper {
        height: 1000px;
    } */
}
@media screen and (min-width: 600px) and (max-width:799px) {
    .right-nav {
        width: 50%;
        margin-right:20px;
        /* width: 55%;
        margin-right:25px; */
    }
    .right-burger{
        display: none;
    }
    #about {
        width: 80%
        /* padding-left: */
    }
    h1 {
        width: 80%;
        font-size: 3.5em;
    }
    img {
        width: 35vw;
        height: 35vw;
    }
    p {
        width: 100%;
        /* line-height: 1.5; */
    }
    /* #wrapper {
        height: 1000px;
    } */
}

/* @media screen and (min-width: 600px) and (max-width:740px) {
    .right-nav {
        width: 55%;
        margin-right:25px;
    }
    .right-burger{
        display: none;
    }
    img {
        width: 35vw;
        height: 35vw;
    }
    #about {
        width: 80%
        padding-left:
    }
    header {
        height: 150px;
    }
    .filler {
        width: 150px;
    }
} */

@media screen and (max-width:599px) {
   .burger::before {
       content:'\2630';
       font-size: 50px;
       color: white;
       float: right;
   }
   .right-nav {
       margin-right: 0;
   }
   /* To hide the original top navigation at width less than 599px */
   .hidden{
       display: none;
   }
   /* The bottom navigation will be remain hidden until .show class is 
   added to .right-burger through jQuery */
   .right-burger {
       display:none;
   }
   .show {
       display: block;
       width: 100%;
       text-align: center;
       font-family: 'Cinzel', serif;
       font-size: 1.25em;
       padding-top: 10px;
       padding-bottom: 10px;
       background-color: rgba(255, 255, 255, 0.708);
   }

   .bottom-nav-about, .bottom-nav-project {
        padding-bottom: 15px;
   }

   /* Sizing the image of myself and headings in the about me and skills */
   .profile-pic > img{
       width: 40vw;
       height: 40vw;
   }
   h1 {
       width: 100%;
       font-size: 3em;
    }
    .skills {
        font-size: 2.5em;
    }
    
    /* header {
        height: 100px;
    } */
    /* .filler {
        width: 100px;
    } */

    /* Adjusted the paragraph line height to make sure the words don't go out of the grandparent div */
    p {
        width: 100%;
        line-height: 1;
    }
    /* Adjusted the about div to match the spaces symetrically with its parent div */
    #about {
        width: 60%;
    }
    /* Adjust the div containing the about div so that the about div won't go out of boundary of the 
    container div */
    #wrapper {
        height: 1000px;
    }

    /* Resize the about me icons */
    .fa-linkedin-square {
        font-size: px;
        width: 49px;
    }
    .fa-github {
        font-size: 52px;
        margin-right:25px;
    }
    .fa-wordpress {
        font-size: 45px;
        margin-right:25px;
    }
    .fa:hover {
        opacity: 0.7;
    }
}