@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Cinzel&display=swap');

body {
    margin: 0;
}
header {
    height: 150px;
    background-color: black;
}
/* .about {
    position: absolute;
    width: 60%;
    margin-left: auto;
    margin-top: auto;
    left: 50%;
    /* bottom: 300px; 
    /* bottom: -500px; 
    top: 30%; 
    transform: translate(-50%, -50%);
    background-color: rgb(205, 148, 148);
} */
img {
    width: 30vw;
    display: block;
    margin: auto;
    border-radius: 100%;
    border: 3px solid white;
}

#wrapper {
    display:flex;
}
.filler  {
    background-color: black;;
    width: 200px;
    /* width: 15%; */
    height: 300px;
}
#about {
    background-color: white;
    width: 70%;
    /* height: 600px; */
    padding: 20px;
}

/* Navigation bar */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #121318;
    color: white;
    height: 100px;
    align-items: center;
    font-family: 'Cinzel', serif;
    border-bottom: 3px solid white;
}
.hp-icon {
    margin-left: 50px;
}
.right-nav {
    display: flex;
    margin-right: 50px;
    width: 30%;
    justify-content: space-around;
}

.whitelinks:link{
    text-decoration: none;
    color: white;
}
.whitelinks:visited{
    text-decoration: none;
    color: white;
}

.whitelinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}

.whitelinks:active {
    color: red;
}
