@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Cinzel&display=swap');
/* * {
    border: 1px solid white;
} */
body {
    margin: auto;
}

/* Navigation bar */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #121318;
    color: white;
    height: 100px;
    align-items: center;
    font-family: 'Cinzel', serif;
    border-bottom: 3px solid white;
}
.hp-icon {
    margin-left: 50px;
}
.right-nav {
    display: flex;
    margin-right: 50px;
    width: 30%;
    justify-content: space-around;
}

.whitelinks:link{
    text-decoration: none;
    color: white;
}
.whitelinks:visited{
    text-decoration: none;
    color: white;
}

.whitelinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}

.whitelinks:active {
    color: red;
}

.right-burger{
    display: none;
}

/* Preview About Me */

img {
    width: 30vw;
    display: block;
    margin: auto;
    border-radius: 100%;
    border: 3px solid white;
}
.hp-grid {
    /* border: 1px solid black; */
    display: grid;
    width: 100vw;
    grid-template-rows: 1fr;
    grid-template-columns: 1.75fr 1fr;
    background-color: #111422;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    /* May take the height out */
    height: 500px;
}

.short-blurb {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Baloo Da 2', cursive;
    font-size: 2em;
    padding-left: 70px;
    /* text-align: center; */
}

.welcome, .aspiring, .hungry, .striving {
    display:flex;
    margin: 0;
    width: 100%;
    /* line-height: 20px; */
}
.welcome {
    font-size: 2.25em;
}
.profile-pic {
    /* grid-area: row start/column start/row end/column end */
    grid-area: 1/2/2/3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Preview Projects */
.hp-grid2 {
    display: grid;
    width: 100vw;
    grid-template-areas: "library library-description"
    "rps rps-description";
    grid-template-rows: 400px 400px;
    grid-template-columns: 1.75fr 1fr;
    padding-top: 30px;
    
}
.hp-library {
    grid-area: library;
    /* text-align: center; */
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    /* height: 300px; */
}
.hp-library-description {
    grid-area: library-description;
    width: 75%;
}

.hp-rps {
    grid-area: rps;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.hp-rps-description {
    grid-area: rps-description;
    width: 75%;
}

/* video {
    width: 75%;
    box-shadow: 17px 14px 10px grey;
    align-self: center; 
    background-color: black; */
   /* line-height: 0; */
   /* display: block; */
   /* border: 1px solid black;
   height: 300px;
} */

video {
    width: 60%;
    box-shadow: 17px 14px 10px grey;
    align-self: center; 
    background-color: black;
   line-height: 0;
   display: block;
   border: 1px solid black;
   /* position: absolute; */
   /* height: 90%; */
   /* height: 100%; */
   object-fit: cover;
}

.hp-library-description, .hp-rps-description {
    display: flex;
    align-items: center;
    font-family: 'Baloo Da 2', cursive;
    font-size: 2em;
    line-height:1;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

h2 {
    margin: 0;
}

.featured {
    /* font-size: 4.5em; */
    font-size: 72px;
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
    margin-bottom: 0;
}
/* buttons */
.view-more {
    padding: 15px;
    width: 80%;
    font-family: 'Baloo Da 2', cursive;
    font-size: 0.75em;
    color: black;
}