@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Cinzel&display=swap');

body {
    margin: auto;
}

/* Navigation bar */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #121318;
    color: white;
    height: 100px;
    align-items: center;
    font-family: 'Cinzel', serif;
    border-bottom: 3px solid white;
    /* position: fixed; */
}
.hp-icon {
    /* margin-left: 54%; */
    /* margin-left: 2em; */
    /* border-radius: 0; */
    /* border:0; */
    width: 105px;
}
.icondiv {
    margin-left: 5%;
}

.right-nav {
    display: flex;
    margin-right: 50px;
    width: 30%;
    justify-content: space-around;
}
.whitelinks:link{
    text-decoration: none;
    color: white;
}
.whitelinks:visited{
    text-decoration: none;
    color: white;
}
.whitelinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.whitelinks:active {
    color: red;
}
.blacklinks:link{
    text-decoration: none;
    color: black;
}
.blacklinks:visited{
    text-decoration: none;
    color: black;
}
.blacklinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: black;
}
.blacklinks:active {
    color: red;
}

/* hide the bottom navigation at all other sizes except below 600px */
.right-burger{
    display: none;
}

/* Preview About Me */

/* .profile-pic > img {
    width: 30vw;
    display: block;
    margin: auto;
    border-radius: 100%;
    border: 3px solid white;
} */

.hp-grid {
    background-color: #111422;
    color: white;
    height: 650px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.profile-pic {
    width: 30%;
    border-radius: 100%;
    border: 3px solid white;
    opacity: 0;
    transition: all 2s ease-in-out;
    transform: translate(0px, 300px);
}
.profile-pic-effect {
    opacity:1;
    transform: translate(0px, 0px);
}
.short-blurb {
    /* grid-area: 1/1/2/2; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Baloo Da 2', cursive;
    font-size: 2em;
    /* padding-left: 70px; */
    /* text-align: center; */
    opacity: 0;
    transition: all 2.5s ease-in-out;
    transform: translate(0px, 300px);
}
.short-blurb-effect {
    opacity:1;
    transform: translate(0px, 0px);
}

.welcome, .aspiring, .hungry, .striving {
    /* display:flex; */
    margin: 0;
    width: 100%;
    /* line-height: 20px; */
}
.welcome {
    font-size: 75px;
}

/* .welcome {
    animation: name 3s linear 2s 2 alternate-reverse
}

@keyframes name {
    0% {opacity:0.2}
    25% {opacity: 0.4}
    50% {opacity:0.6}
    75% {opacity: 0.8}
    100% {opacity: 1}
} */

/* .hungry{
    display: inline;
    text-indent: 7px;
}

.hungry > span{
    word-wrap: break-word;
    white-space: nowrap;
    color: rgb(217, 240, 17);
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 100%;
} */


/* Preview Projects */
.hp-grid2 {
    display: grid;
    width: 100vw;
    grid-template-areas: "library library-description"
    "rps rps-description";
     /* need to do fr in size in order to avoid the white space when minimizing the
    videos because during minimizing the videos also shrink given that the video's
    width is % */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1.75fr 1fr;
    /* padding-top: 30px; */
}
.hp-library {
    grid-area: library;
    /* text-align: center; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    /* height: 300px; */
    /* align-items: flex-end; */
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    /* height: 300px; */
    /* background-color: rgba(0, 0, 0, 0.708); */
    /* border: 1px solid orange;
    border-radius: 10px; */
    height: 100%;
    /* padding-bottom: 20px; */
    /* position: relative;
    overflow: hidden; */
    
}
.hp-library-description {
    grid-area: library-description;
    width: 75%;
    align-self: center;
}

.hp-rps {
    grid-area: rps;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%;
}
.hp-rps-description {
    grid-area: rps-description;
    width: 75%;
}

/* video {
    width: 75%;
    box-shadow: 17px 14px 10px grey;
    align-self: center; 
    background-color: black; */
   /* line-height: 0; */
   /* display: block; */
   /* border: 1px solid black;
   height: 300px;
} */

video {
    width: 60%;
    box-shadow: 17px 14px 10px grey;
    align-self: center; 
    background-color: black;
   /* line-height: 0; */
   display: block;
   border: 1px solid black;
   /* position: absolute; */
   /* height: 90%; */
   /* height: 100%; */
   object-fit: cover;
}

video:hover {
    transform: scale(1.2)
}

.text-glow {
    color: white;
    text-shadow: 0px 0px 15px black;
}

.button-glow {
    box-shadow: 0px 0px 20px black;
}
.hp-library-description, .hp-rps-description {
    display: flex;
    align-items: center;
    font-family: 'Baloo Da 2', cursive;
    font-size: 30px;
    line-height:1;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

h2 {
    margin: 0;
}

.featured {
    /* font-size: 4.5em; */
    font-size: 72px;
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
    margin-bottom: 0;
}
/* View More Projects Button */
.view-more {
    padding: 15px;
    width: 80%;
    font-family: 'Baloo Da 2', cursive;
    font-size: 0.75em;
    color: black;
}

/* Footer */
.bottom {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111422;
}

/* Code below is w3Schools */
.fa-linkedin-square {
    /* background: #007bb5; */
    color: white;
    /* padding: 5px; */
    font-size: 80px;
    width: 56px;
    /* height: 56px; */
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 69px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    font-size: 86px;
    color: white;
}

.copyright {
    font-family: 'Baloo Da 2', cursive;
    text-align:center;
}

@media screen and (min-width: 940px) and (max-width:1200px) {
    .right-nav {
        width: 40%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    .hp-library-description, .hp-rps-description {
        font-size: 1.5em;
    }
    .icondiv {
        margin-left: 4%;
    }
    /* .hp-icon {
        margin-left: 39%;
    } */
    .hp-grid {
        padding-left:20px;
        padding-right:20px
    }
}

@media screen and (min-width: 800px) and (max-width:939px) {
    .short-blurb {
        font-size: 1.5em;
        /* font-size: 20px; */
        /* padding-left: 30px; */
    }
    .profile-pic {
        justify-content: center;
    }
    .right-nav {
        width: 40%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }

    .hp-library-description, .hp-rps-description {
        font-size: 1.5em;
    }

    /* .hp-grid {
        height: 400px;
    } */
    .featured {
        width: 100%;
        /* font-size: 3.5em; */
        font-size: 65px;
    }
    .icondiv {
        margin-left: 4%;
    }
    .hp-grid {
        padding-left:20px;
        padding-right:20px
    }
    .fa-linkedin-square {
        font-size: 60px;
    }
    .fa-github {
        font-size: 70px;
    }
    .bottom {
        padding: 15px;
    }
}

@media screen and (min-width: 600px) and (max-width:799px) {
    .short-blurb {
        font-size: 1.5em;
        /* font-size: 15px; */
        /* padding-left: 40px; */
    }
    .welcome {
        font-size:50px;
    }
    .right-nav {
        width: 50%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    .hp-library-description, .hp-rps-description {
        font-size: 1.25em;  
        /* text-align: center; */
    }
    .view-more {
        padding: 5px;
    }
    .featured {
        width: 100%;
        font-size: 67px;
    }
    .icondiv {
        margin-left: 4%;
    }
    .hp-grid {
        padding-left:20px;
        padding-right:20px
    }
    .fa-linkedin-square {
        font-size: 60px;
    }
    .fa-github {
        font-size: 70px;
    }
    .bottom {
        padding: 15px;
    }
}

/*(@media screen and (max-width:650px) {
    .short-blurb {
        font-size: 1.35em;
    }
    /* img {
        margin-right: 30px;
    }
    .right-nav {
        width: 55%;
        margin-right:25px;
    }
    .right-burger{
        display: none;
    }
    .hp-grid {
        height: 300px;
    }
}  */

@media screen and (max-width:599px) {
    .burger::before {
        content:'\2630';
        font-size: 50px;
        color: white;
        float: right;
    }
    .right-nav {
        margin-right: 0;
    }
    /* To hide the original top navigation at width less than 599px */
    .hidden{
        display: none;
    }
    /* The bottom navigation will be remain hidden until .show class is 
    added to .right-burger through jQuery */
    .right-burger {
        display:none;
    }
    .show {
        display: block;
        width: 100%;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 1.25em;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.708);
    }
    .bottom-nav-about, .bottom-nav-project {
         padding-bottom: 15px;
    }
    /* .profile-pic {
        width: 40vw;
        border-radius: 100%;
    } */
    .icondiv {
        margin-left: 10%;
    }
    .short-blurb, .hp-library-description, .hp-rps-description {
     font-size: 1.5em;
     text-align: center;
     padding-left: 0px;
     margin: 0 auto;
    }
    .welcome {
        /* width: 87px; */
        width: 100%;
        /* margin: 0 auto; */
        text-align: center;
        margin-top: 20px;
        font-size: 40px;
        justify-content: center;
    }
    .aspiring {
        /* width: 203px; */
        width: 100%;
        /* margin: 0 auto; */
        text-align: center;
        justify-content: center;
    }
    .hungry {
         /* width: 239px; */
         width: 100%;
         /* margin: 0 auto; */
         text-align: center;
         justify-content: center;
    }
    .hp-grid {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* height: 600px; */
    }
    .hp-grid2 {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         padding-top:0px;
     }
     .hp-library-description, .hp-rps-description {
         width: 80%;
         justify-content: center; 
        text-align: center;
     }
     
     .hp-library, .hp-rps-description {
         margin-bottom: 20px;
     }
     video:hover {
        transform: scale(1.1)
    }
     .view-more {
         padding: 10px;
         width: 60%;
         font-size: 1em;
     }
     .bottom {
         padding: 10px;
         margin-top:50px;
     }
     .fa-linkedin-square {
         font-size: 55px;
         width: 55px;
         border-radius: 20px;
     }
     .fa-github {
         font-size: 60px;
     }
     .featured {
         font-size: 40px;
         margin-bottom: 20px;
     }

    
}