@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Cinzel&display=swap');

/* Navigation bar */

body {
    margin: 0px !important;
    padding: 0px !important;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #121318;
    color: white;
    height: 100px;
    align-items: center;
    font-family: 'Baloo Da 2', cursive;
    border-bottom: 3px solid white;
    /* position: fixed; */
}
.hp-icon {
    width: 105px;
}
.icondiv {
    margin-left: 5%;
}

.right-nav {
    display: flex;
    margin-right: 50px;
    width: 30%;
    justify-content: space-around;
}
.whitelinks:link{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.whitelinks:visited{
    text-decoration: none;
    color: white;
}
.whitelinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.whitelinks:active {
    color: red;
}
.blacklinks:link{
    text-decoration: none;
    color: black;
}
.blacklinks:visited{
    text-decoration: none;
    color: black;
}
.blacklinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: black;
}
.blacklinks:active {
    color: red;
}

/* hide the bottom navigation at all other sizes except below 600px */
.right-burger{
    display: none;
}

.title {
    font-size: 4em;
    margin-bottom: 20px !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 0em !important;
}

.titleDiv {
    background-color: black;
    color: white;
    height: 150px;
}
main {
    width: 100%;
}

.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    margin-top: 50px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

#projects-opacity {
    transition: all 1s ease-in-out;
    opacity: 1;
}

.video {
    width: 90%;
    height: 100%;
    /* border: 1px solid black;  */
}

.videoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.paraContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
}

.para {
    font-family: 'Baloo Da 2', cursive;
    padding-left: 40px;
    padding-right: 40px;
}

h1 {
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
}

/* Github Icon */
.icons {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fa:hover {
    opacity: 0.7;
}
.flex > div> .icons > a > .fa-github{
    color: black;
}

.launch {
    padding: 10px;
    display: flex;
    align-items: baseline;
    font-family: 'Baloo Da 2', cursive;
    font-size: 16px;
}

.launch > a:link{
    text-decoration: none;
    color: black;
}
.launch > a:visited{
    text-decoration: none;
    color: black;
}
.launch > a:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.launch > a:active {
    color: red;
}


/* Footer */
.bottom {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111422;
}

/* Code below is w3Schools */
.fa-linkedin-square {
    /* background: #007bb5; */
    color: white;
    /* padding: 5px; */
    font-size: 80px;
    width: 56px;
    /* height: 56px; */
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 69px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    font-size: 86px;
    color: black;
}

.copyright {
    font-family: 'Baloo Da 2', cursive;
    text-align:center;
}

.bottom > a > .fa-github {
    color: white;
}


@media screen and (min-width: 940px) and (max-width:1200px) {
    .right-nav {
        width: 40%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    .icondiv {
        margin-left: 4%;
    }

    .launch{
        font-size: 16px;
    }
}

@media screen and (min-width: 800px) and (max-width:939px) {
    .right-nav {
        width: 40%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    .whitelinks:link {
        font-size: 20px;
    }
    .icondiv {
        margin-left: 4%;
    }
    .fa-linkedin-square {
        font-size: 60px;
    }
    .fa-github {
        font-size: 70px;
    }
    .bottom {
        padding: 15px;
    }
    .launch{
        font-size: 16px;
    }

}

@media screen and (min-width: 600px) and (max-width:799px) {
    .right-nav {
        width: 50%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    .whitelinks:link {
        font-size: 20px;
    }
    .icondiv {
        margin-left: 4%;
    }
    .fa-linkedin-square {
        font-size: 60px;
    }
    .fa-github {
        font-size: 70px;
    }
    .bottom {
        padding: 15px;
    }
    .launch{
        font-size: 16px;
    }
    .container {
        width: 100%;
    }
    .video {
        height: 80%;
    }
    .paraContainer {
        justify-content: center;
        height: 40%;
    }
}

@media screen and (max-width:599px) {
   .burger::before {
       content:'\2630';
       font-size: 50px;
       color: white;
       float: right;
   }
   .xcross::before {
    content:'\2715';
    font-size: 50px;
    color: white;
    float: right;
}
   .right-nav {
       margin-right: 0;
   }
   /* To hide the original top navigation at width less than 599px */
   .hidden{
       display: none;
   }
   /* The bottom navigation will be remain hidden until .show class is 
   added to .right-burger through jQuery */
   .right-burger {
       display:none;
   }
   .show {
       display: block;
       width: 100%;
       text-align: center;
       font-family: 'Baloo Da 2', cursive;
       font-size: 1.25em;
       padding-top: 10px;
       padding-bottom: 10px;
       background-color: rgba(255, 255, 255, 0.708);
   }

   .bottom-nav-about, .bottom-nav-project {
        padding-bottom: 15px;
    }
    .icondiv {
        margin-left: 10%;
    }

    .bottom {
        padding: 10px;
        margin-top:50px;
    }
    .fa-linkedin-square {
        font-size: 55px;
        width: 55px;
        border-radius: 20px;
    }
    .fa-github {
        font-size: 60px;
    }
    .launch{
        font-size: 16px;
    }
    .container {
        width: 100%;
    }

}

@media only screen and (max-width: 799px) {

    .title {
        margin-top: 0px;
    }

    .titleDiv {
        height: 150px;
    }

    .video {
        height: 70%;
    }

    .para {
        padding-left: 120px;
        padding-right: 120px;
    }

    .projectheading {
        margin-bottom: 0px !important;
    }

    .paraContainer {
        height: 30%;
        justify-content: space-around;
    }
    
    .container {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .flex > div:nth-child(even) {
        background-color: #111422;
        color: white;
    }

    .flex > div:nth-child(2) >.videoDiv > .video, .flex > div:nth-child(4) >.videoDiv > .video {
        box-shadow: 0px 0px 0px grey;
    }

    .flex > div:nth-child(even) > .paraContainer > .icons > a > .fa-github{
        color: white;

    }
}

@media only screen and (max-width:599px) {
    .titleDiv {
        height: 100px;
    }
    .title {
        font-size: 3.5em;
    }
}

@media only screen and (max-width:550px) {
    .para {
        padding-left:40px;
        padding-right:40px;
    }
}
@media screen and (max-width:400px) {
    .title {
        font-size: 3em;
    }
}