@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Cinzel&display=swap');

body {
    margin: 0;
    font-family: 'Baloo Da 2', cursive;
}

#wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/skyline.jpg");
    background-size: cover;
    /* height: 1100px; */
    /* height: 1000px; */
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-top: 10px; */
    background-color: rgba(255, 255, 255,0);
    color: black;
    transform: translate(0px,400px);
    opacity: 0;
}
#slide-up {
    transform: translate(0px,0px);
    transition: all 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.708);
    opacity: 1;
}

.profile-pic > img {
    display:none
}

#profile-appear {
    width: 25vw;
    height: 25vw;
    display: block;
    margin: auto;
    border-radius: 100%;
    border: 3px solid black;
}

.about > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.about > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

p {
    width: 90%;
    /* margin: auto;
    margin-top: 30px; */
}
h1 {
    width: 80%;
    text-align: center;
    font-size: 3em;
    margin: auto;
    margin-top: 30px;
}

/* Skills section */

.skills-outerdiv {
    transform: translate(0px, 300px);
    opacity: 0;
}
#slide-up-skills {
    transform: translate(0px, 0px);
    transition: all 1s ease-in-out;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skills {
    /* width: 70%; */
    margin-bottom: 0;
    margin-top: 0;
}
.currentskills {
    margin-top: 10px;
}

.bottom-skills {
    margin-bottom: 20px;
}

/* About Me Blurb Icons */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
/* Code below is w3Schools */
.fa-linkedin-square {
    /* background: #007bb5; */
    color: #007bb5;
    /* padding: 10px; */
    font-size: 50px;
    /* width: 49px; */
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 40px;
}
.fa-github {
    font-size: 50px;
    color: black;
    margin-right: 40px;
}
.fa-wordpress {
    color: #22759A;
    font-size: 50px;
    margin-right: 40px;
}

.social-icons > a:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    cursor: pointer;
}

.resume {
    height: 42.86px;
    width: 50px;
}
.fa:hover {
    opacity: 0.7;
}
.flex-icon {
     display: none;
 }
 #icons-appear {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
 }
.icons {
     width: 12%;
     height: 12%;
     display: block;
     margin: 30px;
}

/* Footer */
.bottom {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111422;
}

/* Code below is w3Schools */
#linkedin{
    background: #121318;
    color: white;
    /* padding: 5px; */
    font-size: 80px;
    width: 56px;
    /* height: 56px; */
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 69px;
    padding: 0px;
}

#github {
    font-size: 86px;
    color: white;
}

.copyright {
    font-family: 'Baloo Da 2', cursive;
    text-align:center;
    /* display:flex;
    align-items: center;
    justify-content: center; */
}
.copy {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
}

/* Navigation bar */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #121318;
    color: white;
    height: 100px;
    align-items: center;
    font-family: 'Baloo Da 2', cursive;
    border-bottom: 3px solid white;
    /* position: fixed; */
}
.hp-icon {
    width: 105px;
}
.icondiv {
    margin-left: 5%;
}

.right-nav {
    display: flex;
    margin-right: 50px;
    width: 30%;
    justify-content: space-around;
}
.whitelinks:link{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.whitelinks:visited{
    text-decoration: none;
    color: white;
}
.whitelinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.whitelinks:active {
    color: red;
}
.blacklinks:link{
    text-decoration: none;
    color: black;
}
.blacklinks:visited{
    text-decoration: none;
    color: black;
}
.blacklinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: black;
}
.blacklinks:active {
    color: red;
}

/* hide the bottom navigation at all other sizes except below 600px */
.right-burger{
    display: none;
}

@media screen and (min-width: 940px) and (max-width:1200px) {
    .right-nav {
        width: 40%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    h1 {
        width: 80%;
    }
    #profile-appear {
        width: 25vw;
        height: 25vw;
    }
    p {
        width: 90%;
    }
    .icondiv {
        margin-left: 4%;
    }
}

@media screen and (min-width: 800px) and (max-width:939px) {
    .right-nav {
        width: 40%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    .whitelinks:link {
        font-size: 20px;
    }
    h1 {
        width: 80%;
    }
    #profile-appear {
        width: 35vw;
        height: 35vw;
    }
    p {
        width: 100%;
    }
    .icondiv {
        margin-left: 4%;
    }
    #linkedin {
        font-size: 60px;
    }
    #github {
        font-size: 70px;
    }
    .bottom {
        padding: 15px;
    }
    .about {
        flex-direction: column;
    }
    .about > div:nth-child(2){
        width: 80%;
    }
    #icons-appear {
        width: 90%;
    }
    
}
@media screen and (min-width: 600px) and (max-width:799px) {
    .right-nav {
        width: 50%;
        margin-right:20px;
        /* width: 55%;
        margin-right:25px; */
    }
    .right-burger{
        display: none;
    }
    .whitelinks:link {
        font-size: 20px;
    }
    .about {
        flex-direction: column;
    }
    .about > div:nth-child(2){
        width: 80%;
    }
    h1 {
        width: 80%;
        font-size: 2em;
    }
    #profile-appear{
        width: 35vw;
        height: 35vw;
    }
    p {
        width: 100%;
        /* line-height: 1.5; */
    }
    .icondiv {
        margin-left: 4%;
    }
    #linkedin  {
        font-size: 60px;
    }
    #github {
        font-size: 70px;
    }
    .bottom {
        padding: 15px;
    }

    #icons-appear {
        width: 90%;
    }
}

@media screen and (max-width:599px) {
   .burger::before {
       content:'\2630';
       font-size: 50px;
       color: white;
       float: right;
   }
   .xcross::before {
    content:'\2715';
    font-size: 50px;
    color: white;
    float: right;
}
   .right-nav {
       margin-right: 0;
   }
   /* To hide the original top navigation at width less than 599px */
   .hidden{
       display: none;
   }
   /* The bottom navigation will be remain hidden until .show class is 
   added to .right-burger through jQuery */
   .right-burger {
       display:none;
   }
   .show {
       display: block;
       width: 100%;
       text-align: center;
       font-family: 'Baloo Da 2', cursive;
       font-size: 1.25em;
       padding-top: 10px;
       padding-bottom: 10px;
       background-color: rgba(255, 255, 255, 0.708);
   }
   .icondiv {
        margin-left: 10%;
    }

   .bottom-nav-about, .bottom-nav-project {
        padding-bottom: 15px;
   }

   /* Sizing the image of myself and headings in the about me and skills */
   #profile-appear{
       width: 40vw;
       height: 40vw;
   }
   h1 {
       width: 100%;
       font-size: 2em;
    }
    .skills {
        font-size: 2.5em;
    }

    /* Adjusted the paragraph line height to make sure the words don't go out of the grandparent div */
    p {
        width: 100%;
        line-height: 1;
    }
    /* Adjusted the about div to match the spaces symetrically with its parent div */
    /* .about {
        width: 60%;
    } */
    /* Adjust the div containing the about div so that the about div won't go out of boundary of the 
    container div */

    /* Resize the about me icons */
    .fa-linkedin-square {
        /* font-size: 48px; */
        width: 49px;
    }
    .fa-github {
        font-size: 52px;
        margin-right:25px;
    }
    .fa-wordpress {
        font-size: 45px;
        margin-right:25px;
    }
    .fa:hover {
        opacity: 0.7;
    }
    /* Footer icons */
    .bottom {
        padding: 10px;
        margin-top:50px;
    }
    #linkedin{
        font-size: 55px;
        width: 55px;
        border-radius: 20px;
    }
    #github {
        font-size: 60px;
    }
    .about {
        flex-direction: column;
        width: 100%;
    }
    .about > div:nth-child(2){
        width: 80%;
    }

    #icons-appear {
        width: 100%;
    }
}