@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Cinzel&display=swap');

/* Navigation bar */
body {
    margin:0px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #121318;
    color: white;
    height: 100px;
    align-items: center;
    font-family: 'Cinzel', serif;
    border-bottom: 3px solid white;
    margin:0;
}
.hp-icon {
    margin-left: 50px;
}
.right-nav {
    display: flex;
    margin-right: 50px;
    width: 30%;
    justify-content: space-around;
}
/* hide the bottom navigation at all other sizes except below 600px */
.right-burger{
    display: none;
}

.whitelinks:link{
    text-decoration: none;
    color: white;
}
.whitelinks:visited{
    text-decoration: none;
    color: white;
}

.whitelinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}

.whitelinks:active {
    color: red;
}

/* Hamburger Menu Drop Down */
.blacklinks:link{
    text-decoration: none;
    color: black;
}
.blacklinks:visited{
    text-decoration: none;
    color: black;
}
.blacklinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: black;
}
.blacklinks:active {
    color: red;
}


/* VIDEO */
main {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    margin: 0 auto;
}
.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.video {
    width: 75%;
    margin-top: 30px;
    border: 2px solid black;
    box-shadow: -15px -10px 8px grey;
}
.container {
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.videoDiv {
    height: 400px;
}

.paraContainer {
    padding-top: 100px;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.para {
    width: 90%;
    margin: 0 auto;
    font-family: 'Baloo Da 2', cursive;
    height: 150px;
    text-align: left;
}
h1 {
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
}

.title {
    height: 100px;
    font-size: 4em;
    color: white;
    background-color: #111422;
    margin-top:0px;
}

/* Github Icon */
.icons {
    width: 100%;
    margin: 0;
}
.fa:hover {
    opacity: 0.7;
}

.fa-github {
    font-size: 60px;
    color: black;
}

@media screen and (max-width:1350px) {
    .videoDiv{
        height:400px;
    }
    .paraContainer {
        padding-top:75px;
    }
    .projectheading{
        margin-top:0px;
    }
}

@media screen and (max-width:1150px) {
    .videoDiv{
        height:400px;
    }
    .paraContainer {
        padding-top:20px;
    }
    .projectheading{
        margin-top:0px;
    }
}

@media screen and (max-width:1050px) {
    .videoDiv{
        height:375px;
    }
    .paraContainer {
        padding-top:10px;
    }
    .projectheading{
        margin-top:0px;
    }
}

@media screen and (max-width:950px) {
    .videoDiv{
        height:375px;
    }
    .paraContainer {
        padding-top:0px;
    }
    .projectheading{
        margin-top:-20px;
    }
}

@media screen and (max-width:850px) {
    .videoDiv{
        height:375px;
    }
    .paraContainer {
        padding-top:0px;
    }
    .projectheading{
        margin-top:-50px;
    }
}

@media screen and (max-width:750px) {
    .videoDiv{
        height:375px;
    }
    .paraContainer {
        padding-top:0px;
    }
    .projectheading{
        margin-top:-70px;
    }
}

@media screen and (max-width:749px) {
    .videoDiv{
        height: 375px;
    }
    .paraContainer {
        padding-top: 200px;
        height: 150px;
    }
    .flex{
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
    
    /* .flex > div:nth-child(4) {
        background-color: white;
    } */
    .flex > div:nth-child(2), .flex > div:nth-child(4) {
        background-color: #111422;
        color: white;
    }
    .flex > div:nth-child(2) >.videoDiv > .video, .flex > div:nth-child(4) >.videoDiv > .video {
        border: 10px solid #cccccc;
    }
    /* .flex > div:nth-child(4) >.videoDiv > .video {
        box-shadow: -15px -10px 8px grey;
        border: 0px;
    } */
    .flex > div:nth-child(2) >.videoDiv > .video, .flex > div:nth-child(4) >.videoDiv > .video {
        box-shadow: 0px 0px 0px grey;
    }
}

    /* .flex > div:nth-child(5) >.videoDiv > .video {
        box-shadow: 0px 0px 0px grey;
    }
} */

@media screen and (max-width: 650px) {
    .videoDiv{
        height: 375px;
    }
    .paraContainer {
        padding-top: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 550px) {
    .videoDiv{
        height: 375px;
    }
    .paraContainer {
        padding-top: 100px;
        height: 150px;
    }
}
@media screen and (max-width: 450px) {
    .videoDiv{
        height: 375px;
    }
    .paraContainer {
        padding-top: 0px;
        
    } 
}