@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Cinzel&display=swap');

/* Navigation bar */
body {
    margin:0px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #121318;
    color: white;
    height: 100px;
    align-items: center;
    font-family: 'Cinzel', serif;
    border-bottom: 3px solid white;
    margin:0;
}
.hp-icon {
    margin-left: 50px;
}
.right-nav {
    display: flex;
    margin-right: 50px;
    width: 30%;
    justify-content: space-around;
}
/* hide the bottom navigation at all other sizes except below 600px */
.right-burger{
    display: none;
}

.whitelinks:link{
    text-decoration: none;
    color: white;
}
.whitelinks:visited{
    text-decoration: none;
    color: white;
}

.whitelinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}

.whitelinks:active {
    color: red;
}

/* Hamburger Menu Drop Down */
.blacklinks:link{
    text-decoration: none;
    color: black;
}
.blacklinks:visited{
    text-decoration: none;
    color: black;
}
.blacklinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: black;
}
.blacklinks:active {
    color: red;
}

