@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Cinzel&display=swap');

/* Navigation bar */
body {
    margin:0px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #121318;
    color: white;
    height: 100px;
    align-items: center;
    font-family: 'Cinzel', serif;
    border-bottom: 3px solid white;
    margin:0;
}
.hp-icon {
    width: 105px;
}
.icondiv {
    margin-left: 5%;
}
.right-nav {
    display: flex;
    margin-right: 50px;
    width: 30%;
    justify-content: space-around;
}
/* hide the bottom navigation at all other sizes except below 600px */
.right-burger{
    display: none;
}

.whitelinks:link{
    text-decoration: none;
    color: white;
}
.whitelinks:visited{
    text-decoration: none;
    color: white;
}

.whitelinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}

.whitelinks:active {
    color: red;
}

/* Hamburger Menu Drop Down */
.blacklinks:link{
    text-decoration: none;
    color: black;
}
.blacklinks:visited{
    text-decoration: none;
    color: black;
}
.blacklinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: black;
}
.blacklinks:active {
    color: red;
}


/* VIDEO */
main {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    margin: 0 auto;
}
.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.video {
    width: 75%;
    margin-top: 30px;
    border: 2px solid black;
    box-shadow: -15px -10px 8px grey;
}
.container {
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

#projects-opacity {
    transition: all 1s ease-in-out;
    opacity: 1;
}

.videoDiv {
    height: 400px;
}

.paraContainer {
    padding-top: 100px;
    /* height: 200px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 50px; */
}


.para {
    width: 90%;
    margin: 0 auto;
    font-family: 'Baloo Da 2', cursive;
    height: 100px;
    text-align: left;
}
h1 {
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
}

.title {
    height: 100px;
    font-size: 4em;
    color: white;
    background-color: #111422;
    margin-top:0px;
}

/* Github Icon */
.icons {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fa:hover {
    opacity: 0.7;
}
.flex > div> .icons > a > .fa-github{
    /* background-color: #111422; */
    color: black;
}

.launch {
    padding: 10px;
    /* height: 70%; */
    display: flex;
    align-items: baseline;
    font-family: 'Baloo Da 2', cursive;
    font-size: 25px;
}

.launch > a {
    text-decoration: none;
    color: white;
}
.launch > a:link{
    text-decoration: none;
    color: white;
}
.launch > a:visited{
    text-decoration: none;
    color: black;
}
.launch > a:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.launch > a:active {
    color: red;
}


/* Footer */
.bottom {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111422;
}

/* Code below is w3Schools */
.fa-linkedin-square {
    /* background: #007bb5; */
    color: white;
    /* padding: 5px; */
    font-size: 80px;
    width: 56px;
    /* height: 56px; */
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 69px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    font-size: 86px;
    color: white;
}

.copyright {
    font-family: 'Baloo Da 2', cursive;
    text-align:center;
}

/* Navigation Bar */
@media screen and (min-width: 940px) and (max-width:1200px) {
    .right-nav {
        width: 40%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    .icondiv {
        margin-left: 4%;
    }
}

@media screen and (min-width: 800px) and (max-width:939px) {
    .right-nav {
        width: 40%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    .icondiv {
        margin-left: 4%;
    }
    .fa-linkedin-square {
        font-size: 60px;
    }
    .fa-github {
        font-size: 70px;
    }
    .bottom {
        padding: 15px;
    }

    .launch{
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) and (max-width:799px) {
    .right-nav {
        width: 50%;
        margin-right:20px;
    }
    .right-burger{
        display: none;
    }
    .icondiv {
        margin-left: 4%;
    }
    .fa-linkedin-square {
        font-size: 60px;
    }
    .fa-github {
        font-size: 70px;
    }
    .bottom {
        padding: 15px;
    }
    .launch{
        font-size: 15px;
    }
}
/* 
@media screen and (min-width: 600px) and (max-width:740px) {
    .right-nav {
        width: 55%;
        margin-right:25px;
    }
    .right-burger{
        display: none;
    }
} */

@media screen and (max-width:599px) {
   .burger::before {
       content:'\2630';
       font-size: 50px;
       color: white;
       float: right;
   }
   .xcross::before {
    content:'\2715';
    font-size: 50px;
    color: white;
    float: right;
}
   .right-nav {
       margin-right: 0;
   }
   /* To hide the original top navigation at width less than 599px */
   .hidden{
       display: none;
   }
   /* The bottom navigation will be remain hidden until .show class is 
   added to .right-burger through jQuery */
   .right-burger {
       display:none;
   }
   .show {
       display: block;
       width: 100%;
       text-align: center;
       font-family: 'Cinzel', serif;
       font-size: 1.25em;
       padding-top: 10px;
       padding-bottom: 10px;
       background-color: rgba(255, 255, 255, 0.708);
   }

   .bottom-nav-about, .bottom-nav-project {
        padding-bottom: 15px;
    }
    .icondiv {
        margin-left: 10%;
    }
    .para {
        height: 50px;
    }
    .bottom {
        padding: 10px;
        margin-top:50px;
    }
    .fa-linkedin-square {
        font-size: 55px;
        width: 55px;
        border-radius: 20px;
    }
    .fa-github {
        font-size: 60px;
    }
    .launch{
        font-size: 15px;
    }
}


@media screen and (max-width:1350px) {
    .videoDiv{
        height:400px;
    }
    .paraContainer {
        padding-top:75px;
    }
    .projectheading{
        margin-top:0px;
    }
}

@media screen and (max-width:1150px) {
    .videoDiv{
        height:400px;
    }
    .paraContainer {
        padding-top:20px;
    }
    .projectheading{
        margin-top:0px;
    }
}

@media screen and (max-width:1050px) {
    .videoDiv{
        height:375px;
    }
    .paraContainer {
        padding-top:10px;
    }
    .projectheading{
        margin-top:0px;
    }
}

@media screen and (max-width:950px) {
    .videoDiv{
        height:375px;
    }
    .paraContainer {
        padding-top:0px;
    }
    .projectheading{
        margin-top:-20px;
    }
}

@media screen and (max-width:850px) {
    .videoDiv{
        height:375px;
    }
    .paraContainer {
        padding-top:0px;
    }
    .projectheading{
        margin-top:-50px;
    }
}

@media screen and (max-width:750px) {
    .videoDiv{
        height:375px;
    }
    .paraContainer {
        padding-top:0px;
    }
    .projectheading{
        margin-top:-70px;
    }
}

@media screen and (max-width:749px) {
    .videoDiv{
        height: 375px;
    }
    .paraContainer {
        padding-top: 200px;
    }
    .icons {
        margin-bottom: 40px;
    }
    .flex{
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
    .flex > div:nth-child(2), .flex > div:nth-child(4) {
        background-color: #111422;
        color: white;
    }
    .flex > div:nth-child(2) >.videoDiv > .video, .flex > div:nth-child(4) >.videoDiv > .video {
        border: 3px solid #cccccc;
    }
    /* .flex > div:nth-child(4) >.videoDiv > .video {
        box-shadow: -15px -10px 8px grey;
        border: 0px;
    } */
    .flex > div:nth-child(2) >.videoDiv > .video, .flex > div:nth-child(4) >.videoDiv > .video {
        box-shadow: 0px 0px 0px grey;
    }

    .flex > div:nth-child(even) > .icons > a > .fa-github{
        /* background-color: #111422; */
        color: white;
    }
}

@media screen and (max-width: 650px) {
    .videoDiv{
        height: 375px;
    }
    .paraContainer {
        padding-top: 150px;
        /* height: 150px; */
    }
}

@media screen and (max-width: 550px) {
    .videoDiv{
        height: 375px;
    }
    .paraContainer {
        padding-top: 100px;
        /* height: 150px; */
    }
    .flex > div:nth-child(3) > .icons {
        margin-top: 50px;
    }
    .flex > div:nth-child(5) > .icons {
        margin-top: 50px;
    }
    .flex > div:nth-child(2) > .icons {
        margin-top: 40px;
    }
    .flex > div:nth-child(3) > .icons {
        margin-top: 40px;
    }
    .flex > div:nth-child(5) > .icons {
        margin-top: 40px;
    }
}
@media screen and (max-width: 450px) {
    .videoDiv{
        height: 375px;
    }
    .paraContainer {
        padding-top: 0px;
    } 
    .flex > div:nth-child(odd) > .paraContainer >p {
        height: 75px;
    }
    .paraContainer > p:nth-child(even) {
        height: 125px;
    }
    .flex > div:nth-child(3) > .icons {
        margin-top: 50px;
    }
    .flex > div:nth-child(5) > .icons {
        margin-top: 50px;
    }
    .flex > div:nth-child(even) > .icons > button > a {
        color: black;
    }
}

/* @media screen and (max-width: 450px) and (min-width: ) */